body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	margin: 0;
}

.container {
	display: grid;
	grid-template: repeat(4, 1fr) / repeat(3, 1fr);
	height: 100vh;
	gap: 5px;
	justify-items: center;
	align-items: center;
}

.item {
	background-color: lightblue;
	padding: 10px;
	border: 2px solid orange;
}

.item:nth-of-type(5) {
	justify-self: start;
	align-self: start;
}


